[Unit]
Description=Rabbit Sky
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/rabbitsky -origin {{ORIGIN}} -port 8080 -admin-password "{{PASSWORD}}" -max-players {{MAXPLAYERS}}
LimitNOFILE=32000

[Install]
WantedBy=multi-user.target